QWidget{
    opacity:0;
}
QDialog,QMainWindow,QWidget#chat_win{
    background-color: #CDA57C;
    border-width: 2px;
    border-color: #8B7054;
    border-style: solid;
    border-radius: 8;
}
QWidget#win_container{
    margin:10px;
}

QTabWidget >*{
     background-color: #CDA57C;
     margin:2px;
     border-width: 2px;
     border-color: #8B7054;
     border-style: solid;
}
QListWidget,QTreeWidget{
    border:none;
}